<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>

<h1>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/EBay_logo.svg/2560px-EBay_logo.svg.png" width="100px"> 
 </h1>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/product">product</a>
  <a href="/cart">cart</a>
  <input type="text" placeholder="Search..">
</div>
<div class="card">
  <img src="https://www.pearson.com/content/dam/one-dot-com/one-dot-com/international-schools/images/international-gcses/science/images/IG%20Biology%20Student%20Book.jpg" alt="biology" style="width:400px ">
  <h1>chemisrty text books</h1>
  <p class="price">$39.99 </p>
  <p> <a href="/cart"><button>Add to Cart</button></a></p>
</div>
</body>
</html>